<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>green gridz</title>
     <link href="http://www.kanybal.com/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   
  
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>

<body>
<script type="text/javascript" src="/green.js"></script>
<script type="text/javascript" >
$(function () {

  Data = [0,0,0,0,0,0]
//  Data2= [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6,11, 12 ,14]
 
  SData= [0,0,0,0];
  //button1();
  Line('#container0' , Data);
  Scatter('#container1', SData);
  
  Line('#container2', Data);
  Scatter('#container3',SData);
    


});



</script>

<div>

</div>

<!--div class="btn-group">
  <button class="btn btn-primary">Daily patterns</button>
  <a href="/load2.html"><button class="btn">Yearly patterns</button></a>
  <a href="/"><button class="btn">Home</button></a>  
  
</div-->

</br>
</br>
<div class="row">
<div class="span5" >

  <i class="offset1 icon-user"></i> 
  <input class="span2 text" id="user_ida"> </input>
  <button class="btn" onclick="button1()"> <i class="icon-circle-arrow-down"></i> </button>

<div id="container0"></div>

</div> 

<div class="span3">
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <button class="span2 btn-success" onclick="button2()"> CO2 scatter <i class="icon-chevron-right"></i></button></br>
  </br>
  </br>
  <button class="span2 btn-primary" onclick="button2()"> Cost scatter <i class="icon-chevron-right"></i></button></br>

</div>
<div class="span5 " id="container1" ></div>
</div>
<div class="row">

<div class="span5" >

  <i class="offset1 icon-user"></i> 
  <input class="span2 text"> </input> 
  <div class="btn"> <i class="icon-plus"></i> </div> </br>

  <i class="offset1 icon-user"></i> 
  <input class="span2 text"> </input>
  <button class="btn" onclick="button1()"> <i class="icon-circle-arrow-down"></i> </button>

  <div id="container2"></div>

</div> 
<div class="span3">
  </br>
  </br>
  </br>
  </br>
  </br>
  <span class="offset1 badge badge-info">2</span></br>
  </br>
  </br>
  <button class="span2 btn-success" onclick="button2()"> CO2 scatter <i class="icon-chevron-right"></i></button></br>
  </br>
  </br>
  <button class="span2 btn-primary"> Cost scatter <i class="icon-chevron-right"></i></button></br>

</div>

<div class="span5 " id="container3" ></div>
</div>
</body>

</html>
