<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>green gridz</title>
     <link href="http://www.kanybal.com/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   
  
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>

<body>
<script type="text/javascript" src="/green.js"></script>
<script type="text/javascript" >
$(function () {

  Line('#container0');
  //The train example
  //Line('#container1');
  
  Line('#container2');
  Line('#container3');
    


});
</script>

<div>

</div>

<!--div class="btn-group">
  <button class="btn btn-primary">Daily patterns</button>
  <a href="/load2.html"><button class="btn">Yearly patterns</button></a>
  <a href="/"><button class="btn">Home</button></a>  
  
</div-->

</br>
</br>
<div class="row">
<div class="span5" >

  <i class="offset1 icon-user"></i> 
  <input class="span2 text" id="user_ida"> </input>
  <button class="btn" onclick="button1()"> <i class="icon-circle-arrow-down"></i> </button>
  <button class="btn" onclick="button11()"> <i class="icon-time"></i> </button>

<div id="container0"></div>

</div> 

<div class="span3">
  <!--/br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <button class="span2 btn-success"> Predict <i class="icon-chevron-right"></i></button></br>
  </br>
  </br>
  <button class="span2 btn-primary"> Cost scatter <i class="icon-chevron-right"></i></button></br-->

</div>
<div class="span5 " id="container1" ></div>
</div>
<div class="row">

<div class="span5" >

  
  <div class="offset1 span2 btn"> Conventional <i class="icon-resize-small"></i> </div> 


  <div id="container2"></div>

</div> 
<div class="span3">
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <!--button class="span2 btn-success"> CO2 scatter <i class="icon-chevron-right"></i></button-->
  <span class="offset1 badge badge-info">3</span></br>
  </br>
  </br>
  <!--button class="span2 btn-primary"> Cost scatter <i class="icon-chevron-right"></i></button></br-->

</div>

<div class="span5 ">

  <div class="offset1 span2 btn"> Green gridz <i class=" icon-list"></i> </div>
  <div id="container3" > </div>

</div>
</div>
</body>

</html>
